.bg-gradient-primary {
  background-image: none;
  background-color: #5c968a;
}

.mx-3 {
  margin-left: 0.8rem !important;
  margin-right: 0.2rem !important;
}

.sidebar-brand {
  font-size: 0.9rem;
}

ul {
  background-color: #5c968a !important;
  height: 100%;
}

body {
  background-color: #5c968a;
}